<web-app>
<context-param>
	     <param-name>url</param-name>
	     <param-value>jdbc:mysql://localhost:3306/Student_portal</param-value>
	</context-param>
	
	
	<context-param>
	     <param-name>username</param-name>
	     <param-value>root</param-value>
	</context-param>
	
	
	<context-param>
	     <param-name>password</param-name>
	     <param-value>Prasanth kumar</param-value>
	</context-param>

</web-app>